<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894047616043-rmebdhfl8bvmre5mtdc20gb51c8ds1tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894047616043-rmebdhfl8bvmre5mtdc20gb51c8ds1tl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894047616043-v9rr9o2bj7ssvepmhegk10q53k89vigs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS1EXmzDILg__2Fr_waWlohkGX6Yj9P44</string>
	<key>GCM_SENDER_ID</key>
	<string>894047616043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiChatbotFlutter</string>
	<key>PROJECT_ID</key>
	<string>ai-chatbot-d678b</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-chatbot-d678b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894047616043:ios:74af08a43e80274922fe6e</string>
</dict>
</plist>